body nav {
  position: relative;
  display: inline-block;
}

body nav img {
  float: left;
}

body nav h3 {
    color: green;
  float: left;
  text-align: center;
  left: 0;
  font-size: 20px;
  font-family: cursive;
}

body nav p {
  position: absolute;
  width: 150%;
  text-align: center;
  bottom: 13;
  left: 0;
  font-size: 5px;
}

body section {
  float: right;
  align-content: center;
  margin-top: 15px;
  font-size: 5px;
}

body header {
  position: relative;
  vertical-align: -250%;
  bottom: 1px;
}

body header p {
     position: absolute;
    width: 150%;
    text-align: left;
    bottom: -11px;
    left: 0;
    font-size: 6px;
}

body header img {
  float: right;
  margin-top: -17;
}

body img {
  position: relative;
  align-content: center;
}

body article {
  font-size: 10px;
}


