body nav {
  position: relative;
  display: inline-block;
}

body nav img {
  float: left;
}

body nav h3 {
    color: green;
  float: left;
  text-align: center;
  left: 0;
  font-size: 20px;
  font-family: cursive;
}

body nav p {
  position: absolute;
  width: 150%;
  text-align: center;
  bottom: 13;
  left: 0;
  font-size: 5px;
}

body section {
  float: right;
  align-content: center;
  margin-top: 15px;
  font-size: 5px;
}

body header {
  position: relative;
  vertical-align: -250%;
  bottom: 1px;
}

body header p {
     position: absolute;
    width: 150%;
    text-align: left;
    bottom: -11px;
    left: 0;
    font-size: 6px;
}

body header img {
  float: right;
  margin-top: -17;
}

body img {
  position: relative;
  align-content: center;
}

body article {
  font-size: 10px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
